<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="/admin/manage" Match="NavLinkMatch.All">
            <span class="bi svg-person nav-icon" aria-hidden="true"></span> Users
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/admin/manage/stadiums">
            <span class="bi svg-stadium nav-icon" aria-hidden="true"></span> Stadiums
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/admin/manage/teams">
            <span class="bi svg-football-helmet nav-icon" aria-hidden="true"></span> Teams
        </NavLink>
    </li>    
</ul>