@inherits LayoutComponentBase
@layout AdminLayout

<h1>Admin</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
    <div>
        <p>Use the admin menu to customize the Football Simulator.</p>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <AdminNavMenu />
            </div>
            <div class="col-md-9">
                @Body
            </div>
        </div>
    </div>
</AuthorizeView>
