/* Spacing */
/* Padding */
:root {
  --text: #454b52;
  --text-dark: #000;
  --btn-active-bg: #1e4fff;
  --btn-active-text: #ffffff;
  --btn-bg: #fff;
  --btn-border: #0047ff;
  --btn-text: #0047ff;
  --btn-svg: #0047ff;
  --inactive-light-grey: #f6f9ff;
}

[data-theme=dark] {
  --text: #e5e7eb;
  --text-dark: #f5f6f7;
  --btn-active-bg: #8ab4ff;
  --btn-active-text: #000000;
  --btn-bg: #111;
  --btn-border: #66aaff;
  --btn-text: #ffffff;
  --btn-svg: #ffffff;
  --inactive-light-grey: #3a3f46;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
strong, b {
  font-weight: 600;
  color: var(--text-dark);
}

sup, sub {
  font-size: max(12px, min(60%, 1rem));
}

.pagination button {
  transition: 400ms all cubic-bezier(0.25, 1, 0.5, 1) !important;
}

.pagination button {
  border: 1px solid var(--btn-border);
  background-color: var(--btn-bg);
  color: var(--btn-text);
  display: flex;
  align-items: center;
  height: auto;
  border-radius: 48px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  appearance: none;
  line-height: 1.25;
  width: fit-content;
  text-align: left;
  z-index: 1;
  margin: 1rem 0 1.5rem 0;
  gap: 12px;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: -0.25px;
  user-select: none;
  cursor: pointer;
}
@media only screen and (min-width: 768px), print {
  .pagination button:hover {
    background-color: var(--btn-bg);
    border-color: var(--btn-border);
    color: var(--btn-text);
  }
  .pagination button:hover path, .pagination button:hover polygon {
    fill: var(--btn-svg);
  }
}
.pagination button:last-child {
  margin-bottom: 0;
}
.pagination button.inactive {
  border: none;
  background-color: var(--inactive-light-grey) !important;
  pointer-events: none;
}
.pagination button.inactive path, .pagination button.inactive polygon {
  fill: var(--text) !important;
}
.pagination button svg {
  width: 1rem;
  max-width: 1rem;
  height: auto;
  max-height: 1rem;
}
.pagination button svg path, .pagination button svg polygon {
  fill: var(--btn-svg);
}
@media only screen and (min-width: 768px), print {
  .pagination button:hover {
    background-color: var(--btn-bg);
    border-color: var(--btn-border);
    color: var(--btn-text);
  }
  .pagination button:hover path, .pagination button:hover polygon {
    fill: var(--btn-svg);
  }
}
.pagination button {
  height: 48px;
  width: 48px;
  min-width: 48px;
  aspect-ratio: 1;
  border-radius: 100%;
  position: relative;
  flex: 0 auto !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}
.pagination span {
  font-size: 14px;
  color: var(--btn-active-text);
}
.pagination .select {
  display: flex;
}
@media only screen and (min-width: 1280px), print {
  .pagination .select {
    display: none;
  }
}
.pagination .button--group {
  display: none;
}
@media only screen and (min-width: 1280px), print {
  .pagination .button--group {
    display: flex;
  }
}
.pagination button:hover path, .pagination button:hover polygon {
  fill: var(--btn-active-text);
}
.pagination--active {
  background: var(--btn-active-bg) !important;
  color: var(--btn-active-text) !important;
}
.pagination--prev svg {
  transform: rotate(90deg);
}
.pagination--next svg {
  transform: rotate(-90deg);
}