@use "main" as *;

.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 0;

    span {
        font-size: 14px;
        color: var(--btn-active-text);
    }

    .select {
        display: flex;

        @include bp(laptop) {
            display: none;
        }
    }

    .button--group {
        display: none;

        @include bp(laptop) {
            display: flex;
        }
    }

    button {
        @extend %button--icon !optional;

        &:hover {
            path, polygon {
                fill: var(--btn-active-text);
            }
        }
    }

    &--active {
        background: var(--btn-active-bg) !important;
        color: var(--btn-active-text) !important;
    }


    &--prev {
        svg {
            transform: rotate(90deg);
        }
    }

    &--next {
        svg {
            transform: rotate(-90deg);
        }
    }
}
