[data-theme="dark"] {
    --text: #e5e7eb;
    --text-dark: #f5f6f7;
    --btn-active-bg: #8ab4ff;
    --btn-active-text: #000000;
    --btn-bg: #111;
    --btn-border: #66aaff;
    --btn-text: #ffffff;
    --btn-svg: #ffffff;
    --inactive-light-grey: #3a3f46;
}
