:root {
    --text: #454b52;
    --text-dark: #000;
    --btn-active-bg: #1e4fff;
    --btn-active-text: #ffffff;
    --btn-bg: #fff;
    --btn-border: #0047ff;
    --btn-text: #0047ff;
    --btn-svg: #0047ff;
    --inactive-light-grey: #f6f9ff;
}
