// Misc.
$white: #FFF;
$dark: #000;
$text: #454b52;
$light-text: #9291a0;
$border: #cfcfd6;

// Colors
$blue: #0079B1;
$green: #4fdb13; 
$red: #cb2a2f;
$yellow: #ffb40d;
$purple: #9a1fa5;
$lime: #98d81c;
$cyan: #2be2ce;
$cobalt: #0c4090;

$light-grey: #f6f9ff;
$light-blue: #a9e3f8;
$light-green: #c1faae;
$light-red: #ffbdb9;
$light-yellow: #fae5b7;
$light-purple: #f4b6f8;

// Shadows / Highlights
$shadow: rgba($dark,0.1);
$light: rgba($white,0.2);

$gradient-bottom: linear-gradient(to bottom, #0079B1 0%, $cobalt 50%, #00C9FF 100%);
$gradient-right: linear-gradient(to right, #0079B1 0%, $cobalt 50%, #00C9FF 100%);
$gradient-left: linear-gradient(to left, #0079B1 0%, $cobalt 50%, #00C9FF 100%);






