strong, b {
    font-weight: 600;
    color: var(--text-dark);
}

sup, sub {
    font-size: max(12px, min(60%, 1rem));
}

// Small Text Styles
%text-small {
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: -.25px;
}
